[user]
	email = <your-email>
	signingkey = <your-ssh-public-key>

[init]
	templateDir = ~/.git-template

[gpg]
	format = ssh

[gpg "ssh"]
	program = <ssh-signing-program>
	allowedSignersFile = ~/.ssh/allowed_signers

[commit]
	gpgsign = true

[core]
	sshCommand = <ssh-command>
	hooksPath = <hooks-path>
